@use 'variaveis';

.abas{
    padding: 2vw 5.6vw;
    background-color: variaveis.$cordefundo;

    &__list{
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        margin-top: 44px;

        &--active{
            display: grid;
        }

        &__item{
            img{
                max-width: 100%;
                max-height: 800px;
                height: 800px;
                width: 570px;
                border-radius: 10px;

            }

            p{
                text-align: center;
                padding-top: 15px;
            }
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;

        &__button{
            color: variaveis.$cor-principal;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--active{
                border-color: variaveis.$cor-principal;
            }
        }
    }

    @media screen and (max-width: 640px) {

        .abas__list {
            grid-template-columns: 1fr;

            p{
                font-size: 15px
            }
            
        }

        img{
            height: 500px;
            width: 500px;
            border-radius: 10px;
        }

        .abas__tabs {
            flex-direction: flex;
            justify-content: center;

            &__button {
                margin: 0 2vw;
                font-size: 25px;
            }
        }
    }

    @media screen  and (max-width: 1023px) and (min-width: 641px){
        .abas__list {
            grid-template-columns: 1fr;
            gap: 0px;
            
            &__item{
                text-align: center;
                margin-bottom: 15px;
                img{
                    display: inline-block;
                }
            }

            
        }
        
    }

}