@use 'hero';
@use 'variaveis';
@use 'sobre';
@use 'abas';
@use 'films';
@use 'assisti';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$cor-principal;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

@mixin title($fontSize: 32px) {
    @include text($fontSize);
    color: variaveis.$cor-principal;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.title{
    @include title(28px);
}

.text{
    @include text(20px);
}

.grid--center{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}


